<h4 class="titleh4">Sub Quantity Type Management</h4>
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Sub Quantity Type</button>

<button class="bt1n btnbox" id="edit" (click)="edit()">Edit Sub Quantity Type</button>

<div class="comman" *ngIf="show">


    <div class="row box">
        <button class="close" (click)="close()">Close</button>
        <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" class="col lbl2">

            <div class="row lbl">
                <h4>Insert Sub Quantity Type Records (like full, half, small, medium, large)</h4>
            </div>

            <div class="form-group row">
                <div class="col"><label class="lbl" for="categoryname" id="categoryname">Select Quntity Type :</label>
                </div>
                <div class="col">
                    <select class="lbl" formControlName="selectcategoryID">
                        <option class="lbl" *ngFor="let d of categorynamedata" value="{{d._id}}">{{d.name}}</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <div class="col"><label class="lbl" for="Basetypename" id="Basetypename"> Name :</label></div>
                <div class="col"><input class="lbl" type="text" formControlName="Basetypename" ngModel
                        id="Basetypenametxt" /></div>
                <div class="col">
                </div>
            </div>

            <div class="form-group row">
                <div class="col"><label class="lbl" for="Basetypedesc" id="Basetypedesc"> Description :</label></div>
                <div class="col"><input class="lbl" type="text" formControlName="Basetypedesc" ngModel
                        id="Basetypedesctxt" /></div>

            </div>
            <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
            <div class="row">
                <div class="col"><button style="border: solid black; padding: 10px;" [disabled]="myAddForm.invalid "
                        class="bt1n" type="submit">+</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class=" comman" *ngIf="showEdit">

    <div class="row box">
        <form [formGroup]="myEditForm" (ngSubmit)="onFormEdit()" class="col lbl2">
            <button class="close" (click)="close()">Close</button>
            <div class="row">
                <div class="col">
                    <h2><b>Edit</b></h2>
                </div>
            </div>

            <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
            <div class="form-group row">
                <div class="col"><label class="lbl" for="selectcategoryID" id="categoryname">Select Quntity Type
                        :</label></div>
                <div class="col">
                    <select id="selectedit">
                        <option>Select Options </option>
                        <option formControlName="selectcategoryID" *ngFor="let d of categorynamedata index as i"
                            [selected]="d._id===popdata2.selectcategoryID" value="{{d._id}}">{{d.name}}</option>
                    </select>
                </div>

            </div>

            <div class="form-group row">
                <div class="col"><label class="lbl" for="Basetypename" id="Basetypename"> Name :</label></div>
                <div class="col"> <input style="width: 114px; margin: 3px;" formControlName="Basetypename" type="text"
                        value="{{popdata2.Basetypename}}">
                    <div *ngIf="myEditForm.get('Basetypename')?.invalid">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col"><label class="lbl" for="Basetypedesc" id="Basetypedesc"> Description :</label></div>

                <div class="col"> <input style="width: 250px; margin: 3px;" formControlName="Basetypedesc" type="text"
                        #desc aria-multiline="true" value="{{popdata2.Basetypedesc}}">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="bt1n" style=" margin: 3px;" id="baseb"
                        [disabled]="myEditForm.invalid">Update</button>


                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="editag">
    <ag-grid-angular class="box ag-theme-quartz" style="height:500px;" [rowData]="basetypedata" [columnDefs]="colDefs"
        [pagination]="pagination" [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector" (cellClicked)="onCellClick($event)"></ag-grid-angular>
    <div>
        <jsk-popup (deletedconfirmedclicked)="deletedConfirmed($event)" (clicked)="handleChildClick()" [style]="display"
            [tabname]="tablename" [data]="valueid" [modal]="modal"></jsk-popup>
    </div>
</div>