<h4 class="titleh4"> Category Type Management</h4>
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Product Category</button>

<button class="bt1n btnbox" id="edit" (click)="edit()">Edit Product Category</button>

<div class="comman" *ngIf="show">

    <div class="row box">
        <!-- left col -->
        <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" #f="ngForm" class="col lbl2">
            <button class="close" (click)="close()">Close</button>
            <div class="row lbl">
                <h4>Insert Product Category(like chinees, south indian )</h4>
            </div>
            <div class="row form-group">
                <div class="col"> <label class="lbl" for="categoryname" id="categoryname">Category Name :</label></div>
                <div class="col"><input class="lbl" type="text" id="categorynametxt" formControlName="name" /></div>
            </div>
            <div class="row form-group">
                <div class="col"> <label class="lbl" for="categorydesc" id="categorydesc">Category Description :</label>
                </div>
                <div class="col"> <input class="lbl" type="text" id="quantitydesctxt" formControlName="categorydesc" />
                </div>
            </div>
            <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
            <div class="mt-2">
                <button class="bt1n" type="submit" [disabled]="myAddForm.invalid ">Add Category</button>

            </div>

        </form>

    </div>
</div>
<!-- right col -->
<div class=" comman" *ngIf="showEdit">


    <div class="row box">

        <form [formGroup]="myEditForm" (ngSubmit)="onEditForm()" #f="ngForm" class="col lbl2">
            <button class="close" (click)="close()">Close</button>
            <div class="row form-group">
                <div class="col">
                    <h2><b>Edit</b></h2>
                </div>
            </div>
            <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
            <div class="row form-group">
                <div class="col"><label class="lbl" for="categoryname" id="categoryname2">Category Name :</label></div>
                <div class="col"> <input style="width: 114px; margin: 3px;" type="text" formControlName="name"></div>
            </div>
            <div class="row form-group">
                <div class="col"><label class="lbl" for="categorydesc" id="categorydesc2">Category Name :</label></div>
                <div class="col"><input style="width: 250px; margin: 3px;" type="text" formControlName="categorydesc">
                </div>
            </div>
            <div class="row form-group">
                <div class="col"> <button class="bt1n" style=" margin: 3px;" id="b{{popdata2._id}}"
                        [disabled]="myEditForm.invalid ">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div *ngIf="editag">
    <ag-grid-angular class="box ag-theme-quartz" style="height:500px;" [rowData]="categorynamedata"
        [columnDefs]="colDefs" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector" (cellClicked)="onCellClick($event)" />
    <div>
        <jsk-popup (deletedconfirmedclicked)="deletedConfirmed($event)" (clicked)="handleChildClick()" [style]="display"
            [tabname]="tablename" [data]="valueid" [modal]="modal"></jsk-popup>
    </div>
</div>