<h4 class="titleh4"> Tax Type Management</h4>
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Tax Type</button>
<button class="bt1n btnbox" id="edit" (click)="edit()">Edit Tax</button>

<div class="comman" *ngIf="show" >
  
    <div class="row box">
        <form (ngSubmit)="onFormSubmit()" [formGroup]="myAddForm"  class="col lbl2">
            <button  class="close" (click)="close()">Close</button>
    <div class="row lbl"><h4>Tax</h4></div>
    <div class="row"> 
        
    <div class="col">  <label>
        <input type="checkbox"  formControlName="Status"/>
        Status
      </label>
    </div>
</div>
    <div class="form-group row" >
        <div class="col"><label class="lbl" for="name" id="name" >Tax Name :</label></div>
        <div class="col"><input class="lbl" type="text"  formControlName="name"  /></div>
        </div>
    <div class="form-group row">
        <div class="col"><label class="lbl" for="Description" id="Description" >Tax Description :</label></div>
        <div class="col"><input class="lbl" type="text"  formControlName="Description"/></div>
     </div>
     <div class="form-group row">
        <div class="col"><label class="lbl" for="perscentRate" id="perscentRate" >Perscent Rate :</label></div>
        <div class="col"><input class="lbl" type="text"  formControlName="perscentRate" /></div>
     </div>
     <jsk-confirmedelete [args]="args" ></jsk-confirmedelete>
    <div class="form-group row">
        <div class="col"><div class="col"><button class="bt1n" type="submit"[disabled]="myAddForm.invalid">Add Category</button></div>
    </div>
        
    </div>
    
</form>
</div> 
</div>
         <!-- right col -->
         <div class=" comman" *ngIf="showEdit">
   
            <div class="row box">
                
                <form   [formGroup]="myEditForm" (ngSubmit)="onFormUpdateSubmit()"  class="col lbl2">
                    <button  class="close" (click)="close()">Close</button>
                    <div class="row ">
                        <div class="col"><h2 ><b>Edit</b></h2></div></div>
                        <jsk-confirmedelete [args]="args" ></jsk-confirmedelete>
                        <div class="row"> 
        
                            <div class="col">  <label>
                                <input type="checkbox"  formControlName="Status"/>
                                Status
                              </label>
                            </div>
                        </div>
                            <div class="form-group row" >
                                <div class="col"><label class="lbl" for="name" id="name" >Tax Name :</label></div>
                                <div class="col"><input class="lbl" type="text"  formControlName="name"  /></div>
                                </div>
                            <div class="form-group row">
                                <div class="col"><label class="lbl" for="Description" id="Description" >Tax Description :</label></div>
                                <div class="col"><input class="lbl" type="text"  formControlName="Description"/></div>
                             </div>
                             <div class="form-group row">
                                <div class="col"><label class="lbl" for="perscentRate" id="perscentRate" >Perscent Rate :</label></div>
                                <div class="col"><input class="lbl" type="text"  formControlName="perscentRate" /></div>
                             </div>
                            <div class="row form-group">
                                <div class="col"><button class="bt1n" [disabled]="myEditForm.invalid"style=" margin: 3px;" id="qtypeupdate{{popdata2._id}}">Update</button>
                                </div></div>
                         
               
                </form>
            </div>
        </div>
        <div *ngIf="editag">
        <ag-grid-angular class="box ag-theme-quartz"
        style="height:500px;" 
        [rowData]="taxnamedata"
            [columnDefs]="colDefs" 
        [pagination]="pagination"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        (cellClicked)="onCellClick($event)"
            />

            <div >
                <jsk-popup (deletedconfirmedclicked)="deletedConfirmed($event)" (clicked)="handleChildClick()" [style]="display" [tabname]="tablename" [data]="" [modal]="modal"></jsk-popup>
            </div>
        </div>