<!-- name:             
description:      
quantitytypeID:   
quantitytypename: 
quantitytypevalue: -->



<div ><h4 class="titleh4">Raw Materials Management</h4>
    <button class="bt1n btnbox" id="show" (click)="shows()">+Add Raw Material</button></div>
    <button class="bt1n btnbox" id="edit" (click)="edit()">Edit Raw Material</button>
<div class="comman" *ngIf="show" >
    
    <div class="row box">
        
        <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" #f="ngForm" class="col lbl2" >
            <button  class="close" (click)="close()">Close</button>
            <div class="row lbl"><h6>Insert Inventory Product (like Onion, Tomato, Salt etc )</h6></div>
    <div class="row form-group">
        <div class="col"> <label class="lbl" for="name" id="name" > Name :</label></div>
        <div class="col"><input class="lbl" type="text"  id="nametxt" formControlName="name"/></div> 
    </div>
    <div class="row form-group">
        <div class="col">  <label class="lbl" for="description" id="description" > Description :</label></div>
        <div class="col">  <input class="lbl" type="text"  id="descriptiontxt" formControlName="description"/></div>
     </div>    
     <div class="form-group row">
        <div class="col"><label class="lbl" for="quantitytypeID" id="quantitytypeID">Select Quntity Type :</label>
        </div>
        <div class="col">
            <select class="lbl" formControlName="quantitytypeID" (change)="getqtname()">
                <option class="lbl" *ngFor="let d of Inventoryfoodquntitytype" value="{{d._id}}">{{d.name}}</option>
            </select>
        </div>
    </div>  
    <div class="form-group row" *ngIf="quantitytypename!=''"  style="visibility: hidden;">
        <div class="col">  <label class="lbl" for="quantitytypename" id="quantitytypename" > quantitytypename :</label></div>
        <div class="col">  <input class="lbl" type="text"  id="quantitytypenametxt" ngModel="{{quantitytypename}}" formControlName="quantitytypename"/></div>
    </div>  
    <div class="form-group row" *ngIf="quantitytypename!=''">
        <div class="col">  <label class="lbl" for="description" id="quantitytypevalue" > quantitytypevalue :</label></div>
        <div class="col">  <input class="lbl" type="number"  id="descriptiontxt" formControlName="quantitytypevalue"/></div>
    </div>  
     <jsk-confirmedelete [args]="args" ></jsk-confirmedelete>
    <div class="mt-2">
       <button class="bt1n" type="submit" [disabled]="myAddForm.invalid ">Add </button>
        
    </div>
   
</form>
         
        </div>
    </div>
    <!-- right col -->
    <div class=" comman" *ngIf="showEdit">
       
       
        <div class="row box">
           
        <form [formGroup]="myEditForm" (ngSubmit)="onEditForm()" #f="ngForm" class="col lbl2">
            <button  class="close" (click)="close()">Close</button>
            <div class="row form-group">
                <div class="col"><h2 ><b>Edit</b></h2></div>
            </div>
            <jsk-confirmedelete [args]="args" ></jsk-confirmedelete>
                <div class="row form-group">
                    <div class="col"><label class="lbl" for="nametxt" id="name" > Name :</label></div>
                <div class="col"> <input style="width: 114px; margin: 3px;"  id="nametxt" type="text" formControlName="name"></div>
            </div>
            <div class="row form-group">
                <div class="col"><label class="lbl" for="descriptiontxt" id="description" > Name :</label></div>
            <div class="col"><input style="width: 250px; margin: 3px;" type="text" id="descriptiontxt" formControlName="discription"></div>
        </div>
        <div class="form-group row">
            <div class="col"><label class="lbl" for="quantitytypeID" id="quantitytypeID">Select Quntity Type :</label>
            </div>
            <div class="col">
                <select class="lbl" formControlName="quantitytypeID">
                    <option class="lbl" *ngFor="let d of Inventoryfoodquntitytype" value="{{d._id}}">{{d.name}}</option>
                </select>
            </div>
        </div>  
        <div class="form-group row" *ngIf="quantitytypename!=''">
            <div class="col">  <label class="lbl" for="quantitytypenametxt" id="quantitytypename" > quantitytypename :</label></div>
            <div class="col">  <input class="lbl" type="text"  id="quantitytypenametxt" ngModel="{{quantitytypename}}" formControlName="quantitytypename"/></div>
        </div>  
        <div class="form-group row" *ngIf="quantitytypename!=''">
            <div class="col">  <label class="lbl" for="quantitytypevaluetxt" id="quantitytypevalue" > quantitytypevalue :</label></div>
            <div class="col">  <input class="lbl" type="number"  id="quantitytypevaluetxt" formControlName="quantitytypevalue"/></div>
        </div>  
        <div class="row form-group">
            <div class="col"> <button class="bt1n" style=" margin: 3px;" id="b{{popdata2._id}}" [disabled]="myEditForm.invalid " >Update</button>
            </div>
    </div>
        </form>  
</div>
    </div> 
     

    
    <div *ngIf="editag">
      <ag-grid-angular class="box ag-theme-quartz"
      style="height:500px;" 
      [rowData]="data"
          [columnDefs]="colDefs" 
      [pagination]="pagination"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      (cellClicked)="onCellClick($event)"
          />
          <div >
            <jsk-popup (deletedconfirmedclicked)="deletedConfirmed($event)" (clicked)="handleChildClick()" [style]="display" [tabname]="tablename" [data]="valueid" [modal]="modal"></jsk-popup>
        </div> </div> 