<footer class="jsk--grid jsk--grid-cols-1 jsk--gap-4 jsk--px-6 jsk--py-4 md:jsk--grid-cols-2">
  <div class="jsk--text-center md:jsk--text-left">
    <div class="jsk--font-semibold">
      © {{ now | date: 'YYYY' }} - Made with ❤️ by Rudra
    </div>
    <small>Version: {{ version }}</small>
  </div>

  <div class="jsk--text-center md:jsk--text-right">
    @for (link of personalLinks; track $index) {
    <a mat-button href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="link.icon" />
      <span class="jsk--ml-2">{{ link.label }}</span>
    </a>
    }
  </div>
</footer>