

<h4 class="titleh4">Tables Management</h4>
<div class="restaurant-dashboard">
    <!-- First Div -->
    <div class="header restaurant-header">
        <h1>Books & Beans </h1>
        <div class="buttons restaurant-buttons">
            <button class="dine-in" (click)="showreserveDine()">Reserve a Table</button>
            <button class="dine-in" (click)="pickup()">Pick Up</button>
        </div>
    </div>

    <!-- Second Div -->
    <div class="tabs-and-status">
    <div class="table-tabs restaurant-tabs">
        <!-- table-tab active -->
        <button [class]="tabactive0" (click)="tabshow(0)">Available </button>
        <button [class]="tabactive1"(click)="tabshow(1)" >Reserved</button>
        <button [class]="tabactive2" (click)="tabshow(2)">Running Orders (KOT {{runningorder.length}})</button>
        <button [class]="tabactive3" (click)="tabshow(3)">Billed</button>
    </div>
    
    <div class="status-indicators">
        <div class="status-item">
            <span class="status-circle available"></span>
            <span class="status-text">Available</span>
        </div>
        <div class="status-item">
            <span class="status-circle reserved"></span>
            <span class="status-text">Reserved</span>
        </div>
        <div class="status-item">
            <span class="status-circle running-orders"></span>
            <span class="status-text">Running Orders (KOT)</span>
        </div>
        <div class="status-item">
            <span class="status-circle billed"></span>
            <span class="status-text">Billed</span>
        </div>
    </div>
    </div>
    

    <!-- Fourth Div -->
    <!-- selet table start-->
    <div class="order-list-container" *ngIf="tab==0">
        <div *ngFor="let floor of Floordata">
            <div class="order-list-header">
                
                                {{floor.name}}
                <!-- <button class="delete-floor-btn">
                    <img src="Images/DeleteIcon.svg" alt="Delete" class="delete-icon">
                    Delete Floor
                </button> -->
            </div>
            <div class="table-layout">
              <div *ngFor="let d of dinedata index as ii">
                <div *ngIf="d.status;else table;">
                <a (click)="booktable(d._id)" class="table" *ngIf="floor._id==d.floor_id">
                  <p>{{d.name}}</p>
                  <div >                    
                        <!-- chair booking status 0-booked 1-booking available 2-booking available but do want book -->
                        <div class="circle top-left" ></div>
                          <div class="circle top-right" ></div>
                    <div class="circle bottom-left" >                  
                        </div>
                        <div class="circle bottom-right" >                          
                        </div>               
                    <!--<div>
                      <div *ngIf="d.status "> <input type="button" value="d.name}}" id="{d._id}}" (click)="getchair(d._id)" />Available Table</div>
                      <div *ngIf="!d.status"> <input type="button" disabled value="{d.name}}" />Booked Table</div>
                    </div>--> 
                  </div>
                </a>
            </div>
            <ng-template #table >
                <div >
                <div *ngIf="floor._id==d.floor_id" class="table">
                <b>{{d.name}} Booked</b>
                <div >                    
                      <!-- chair booking status 0-booked 1-booking available 2-booking available but do want book -->
                      <div class="circle top-left" ></div>
                        <div class="circle top-right" ></div>
                  <div class="circle bottom-left" >                  
                      </div>
                      <div class="circle bottom-right" >                          
                      </div>               
                  <!--<div>
                    <div *ngIf="d.status "> <input type="button" value="d.name}}" id="{d._id}}" (click)="getchair(d._id)" />Available Table</div>
                    <div *ngIf="!d.status"> <input type="button" disabled value="{d.name}}" />Booked Table</div>
                  </div>--> 
                </div>
                </div>
                </div>
            </ng-template>
              </div>
            </div>
        </div>
    
        </div>
        <!-- end -->
<!-- reservedind start -->
<div class="order-list-container" *ngIf="tab==1">
    <div>
        
        <div class="table-layout">
          <div *ngFor="let d of reservedinedata index as ii">
            <b>{{d.TableName}}</b>
            <div *ngIf="d.Bookingstatus">
            <a (click)="booktable(d._id)" class="table">
              
              <p style="font-size: xx-small;"> {{d.DateTimeStart.split('T')}}
              <br>  Mobile No: {{d.MobileNo}}</p>
              <div >                    
                    <!-- chair booking status 0-booked 1-booking available 2-booking available but do want book -->
                    <div class="circle top-left" ></div>
                      <div class="circle top-right" ></div>
                <div class="circle bottom-left" >                  
                    </div>
                    <div class="circle bottom-right" >                          
                    </div>               
                 
              </div>
            </a>
        </div>
        <b>{{d.Name}}</b>
        <a (click)="deletereservedine(d._id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
              </svg> 
        </a>
        <a (click)="editreservedine(d._id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"   viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
        </a>
          </div>
        </div>
    </div>

    </div>
 <!-- end  -->
        <!-- runing order start -->
        <div class="order-list-container" *ngIf="tab==2">           
                <div class="order-list-header">                  
                </div>
                <div class="table-layout">                
                                                              
                                <div class="table" *ngFor="let runningorder_ of runningorder ">
                                    <div class="states restaurant-states">
                                        <div class="state-column restaurant-state-column state-1">
                                            <div *ngIf="runningorder_.Chairsrunningorder.length>0; else showinvoiceid">
                                            <p class="order-text" *ngFor="let d of dinedata">
                                                <b *ngIf="d._id==runningorder_.Chairsrunningorder[0].table_id">{{d.name}}
                                                    <b><p>C No: {{runningorder_.createdAt}}</p></b>
                                                </b>
                                                </p>
                                            </div>
                                            <ng-template #showinvoiceid>
                                                <b><p>C No: {{runningorder_.createdAt}}</p></b>
                                              </ng-template>
                                            <p class="order-text"><Button class="lbl2" (click)="gotohome(runningorder_.createdAt)">go</Button></p>
                                                <p class="order-text">   <Button class="delete-floor-btn" (click)="cancel(runningorder_.createdAt)">delete</Button></p>
                                        </div>
                                      
                                    <!-- <div class="col" *ngFor="let runningorderdetails of runningorder_.Chairsrunningorder index as i">
                                       <p style="position: relative;float: left;size: small;font-weight:500 ;">
                                        {{runningorderdetails.namqe}}, 
                                       </p>
                                        
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                
         

         <!-- end -->
        <!-- Top Section -->
       
    
        <!-- Table Section -->
        
            <!-- show popup reserve table start -->
        
            <div class="comman" *ngIf="show">

                <!-- DateTimeStart:  Date,
                DateTimeEnd:  Date,
                CustomerId: String,
                Name: String,
                 MobileNo: String,
                BookingAmount: Number,
                Paymentstatus: String,
                  RecieptNumber:Number, -->
                <div class="row box">
            
                    <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" class="col lbl2">
                        <button class="close" (click)="close()">Close</button>
                        <div class="row lbl">
                            <h4>Reserve a Dine (Validity for 1 hour.)</h4>
                        </div>
            
                        <div class="form-group row">
                            <div class="col"><label class="lbl" for="TableId" id="TableId">Select Table :</label>
                            </div>
                            <div class="col">
                                <select class="lbl" formControlName="TableId">
                                    <option class="lbl" *ngFor="let d of dinedata" value="{{d._id}}" >{{d.name}}</option>
                                </select>
                            </div>
                        </div>
            
            
                        <div class="form-group row">
                            <div class="col"><label class="lbl" for="DateTimeStart" id="DateTimeStart"> Pick Date :</label></div>
                            <div class="col"><input class="lbl" name="ordinary"  type="datetime-local" (change)="selectdateandtime()" (click)="checkdate()" formControlName="DateTimeStart" ngModel
                                    id="DateTimeStarttxt"  min="{{currentdate}}" /></div>
                            <div class="col">
                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <!-- <div class="col"><label class="lbl" for="CustomerId" id="CustomerId"> Search by Customer :</label></div>
                            <div class="col"><input class="lbl" type="text" multiple="true" value="{{serchbynamecustomer}}" (keypress)="searchCustomer()" formControlName="CustomerId" ngModel
                                    id="CustomerIdtxt" /></div> -->
                                    <div class="col"><label class="lbl" for="TableId" id="TableId">Select Customer :</label>
                                    </div>
                                    <select class="lbl" formControlName="CustomerId"  (click)="bindcustomer()">
                                        <option class="lbl" >none</option>
                                        <option class="lbl" *ngFor="let d of Customersnamedata" value="{{d._id}}">{{d.Name}}</option>
                                    </select>
                        </div>
                        <div class="form-group row">
                            <div class="col"><label class="lbl" for="Name" id="Name"> Name :</label></div>
                            <div class="col"><input class="lbl"  type="text" formControlName="Name" ngModel
                                    id="Nametxt" /></div>
            
                        </div>
                        <div class="form-group row">
                            <div class="col"><label class="lbl" for="MobileNo" id="MobileNo"> MobileNo :</label></div>
                            <div class="col"><input class="lbl" type="number" minlength="10" maxlength="20" formControlName="MobileNo" ngModel
                                    id="MobileNotxt" /></div>
            
                        </div>
                        <div class="form-group row">
                            <div class="col"><label class="lbl" for="BookingAmount" id="BookingAmount"> BookingAmount :</label></div>
                            <div class="col"><input class="lbl" type="number" maxlength="10" formControlName="BookingAmount" ngModel
                                    id="BookingAmounttxt" /></div>
            
                        </div>
                        <div class="form-group row">
                            <div class="col"><label class="lbl" for="Paymentstatus" id="Paymentstatus"> Paymentstatus :</label></div>
                            <div class="col"><input class="lbl" type="checkbox" checked="true" formControlName="Paymentstatus" 
                                    id="Paymentstatustxt" /></div>
            
                        </div>
                        <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
                        <div class="row">
                            <div class="col"><button style="border: solid black; padding: 10px;" [disabled]="myAddForm.invalid "
                                    class="bt1n" type="submit">+</button>
                            </div>
                        </div>
                    </form>
            
                </div>
            </div>        
             <!-- end -->

    
<!-- reserve edit start -->
<div class="comman" *ngIf="editshow">

    
    <div class="row box">

        <form [formGroup]="myEditForm" (ngSubmit)="onFormEditSubmit()" class="col lbl2">
            <button class="close" (click)="close()">Close</button>
            <div class="row lbl">
                <h4>Edit Reserve a Dine (Validity for 1 hour.)</h4>
            </div>

            <div class="form-group row">
                <div class="col"><label class="lbl" for="TableId" id="TableId">Select Table :</label>
                </div>
                <div class="col">
                    <select class="lbl" formControlName="TableId">
                        <option class="lbl" *ngFor="let d of dinedata index as i" [selected]="d._id===editreservedinefata[0].TableId" >{{d.name}}</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <div class="col"><label class="lbl" for="DateTimeStart" id="DateTimeStart"> Pick Date :</label></div>
                <div class="col"><input class="lbl" name="ordinary"  type="datetime-local"  [(ngModel)]="editreservedinefata[0].DateTimeStart" (change)="selectdateandtime()" (click)="checkdate()" formControlName="DateTimeStart" 
                        id="DateTimeStarttxt"  min="{{currentdate}}" /></div>
                <div class="col">
                </div>
            </div>
            <!-- <div class="form-group row">
                <div class="col"><label class="lbl" for="DateTimeEnd" id="DateTimeEnd"> Pick Time :</label></div>
                <div class="col"><input class="lbl" type="time"  (change)="selecttime()" formControlName="DateTimeEnd" ngModel
                        id="DateTimeEndtxt" /></div>
                <div class="col">
                </div>
            </div> -->
            <div class="form-group row">
                <!-- <div class="col"><label class="lbl" for="CustomerId" id="CustomerId"> Search by Customer :</label></div>
                <div class="col"><input class="lbl" type="text" multiple="true" value="{{serchbynamecustomer}}" (keypress)="searchCustomer()" formControlName="CustomerId" ngModel
                        id="CustomerIdtxt" /></div> -->
                        <div class="col"><label class="lbl" for="TableId" id="TableId">Select Customer :</label>
                        </div>
                        <select class="lbl" formControlName="CustomerId"  (click)="bindcustomer()">
                            <option class="lbl" >none</option>
                            <option class="lbl" *ngFor="let d of Customersnamedata index as i" [selected]="d._id===editreservedinefata[0].CustomerId" value="{{d._id}}">{{d.Name}}</option>
                        </select>
            </div>
            <div class="form-group row">
                <div class="col"><label class="lbl" for="Name" id="Name"> Name :</label></div>
                <div class="col"><input class="lbl"  type="text" [(ngModel)]="editreservedinefata[0].Name" value="{{editreservedinefata[0].Name}}" formControlName="Name" 
                        id="Nametxt" /></div>

            </div>
            <div class="form-group row">
                <div class="col"><label class="lbl" for="MobileNo" id="MobileNo"> MobileNo :</label></div>
                <div class="col"><input class="lbl" type="number" [(ngModel)]="editreservedinefata[0].MobileNo" minlength="10" maxlength="20" formControlName="MobileNo" ngModel
                        id="MobileNotxt" /></div>

            </div>
            <div class="form-group row">
                <div class="col"><label class="lbl" for="BookingAmount" id="BookingAmount"> BookingAmount :</label></div>
                <div class="col"><input class="lbl" type="number" [(ngModel)]="editreservedinefata[0].BookingAmount" maxlength="10" formControlName="BookingAmount" ngModel
                        id="BookingAmounttxt" /></div>

            </div>
            <div class="form-group row">
                <div class="col"><label class="lbl" for="Paymentstatus" id="Paymentstatus"> Paymentstatus :</label></div>
                <div class="col"><input class="lbl" type="checkbox" [(ngModel)]="editreservedinefata[0].Paymentstatus" formControlName="Paymentstatus" 
                        id="Paymentstatustxt" /></div>

            </div>
            <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
            <div class="row">
                <div class="col"><button style="border: solid black; padding: 10px;" [disabled]="myAddForm.invalid "
                        class="bt1n" type="submit">+</button>
                </div>
            </div>
        </form>

    </div>
</div>        
<!-- end  -->

<!-- reserve delete start -->
<div class="comman" *ngIf="deleteshow">

    <!-- DateTimeStart:  Date,
    DateTimeEnd:  Date,
    CustomerId: String,
    Name: String,
     MobileNo: String,
    BookingAmount: Number,
    Paymentstatus: String,
      RecieptNumber:Number, -->
    <div class="row box">

        
            <jsk-confirmedelete [args]="args"></jsk-confirmedelete>
            <div class="form-group row">
                <div class="col"><h3>Please Confirme to Delete</h3>
                </div>
            </div>
            <div class=" form-group row">
                <div class="col"><button (click)="Confirmedelete()" style="border: solid black; padding: 10px;" 
                         >Confirme delete</button>
                </div>
                <div class="col"><button (click)="close()" style="border: solid black; padding: 10px;" 
                    >Cancel</button>
            </div>
            </div>
        

    </div>
</div>        
<!-- end  -->